/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Doppio+One|Source+Code+Pro:300,400');

/*font styling*/
.header {
	font-family: 'Doppio One', sans-serif;
}
p, a {
	font-family: 'Source Code Pro', monospace;
	font-weight: lighter;
}
.form-control::-webkit-input-placeholder {
	font-family: 'Source Code Pro', monospace;
	font-weight: lighter;
}
/* firefox 19+ */
.form-control::-moz-placeholder {
	font-family: 'Source Code Pro', monospace;
	font-weight: lighter;
}
/* ie */
.form-control:-ms-input-placeholder {
	font-family: 'Source Code Pro', monospace;
	font-weight: lighter;
}
input:-moz-placeholder {
	font-family: 'Source Code Pro', monospace;
	font-weight: lighter;
}
.form-control input {
	font-family: 'Source Code Pro', monospace;
	font-weight: lighter;
}
a {
	color: #00ff00;
}

a:hover {
	color: #00ff00;
}

/*element styling*/
.jumbotron{
	height: 80vh;
	background: transparent;
	margin-bottom:  0px;
	z-index: -1;
}
#particles-js {
	background: transparent;
}
canvas{
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 80vh !important;
	z-index: -1;
	background-color: #191917;
}
.row {
	padding-left: 30px;
}
.jumbotron .row {
	padding-top: 100px;
	z-index: 1000;
}
#header-text {
	color: #FFFFFF;
}
#my-name {
	padding-bottom: 25px;
}
#contact-form {
	background-color: #FFFFFF;
	position: relative;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-top: 30px;
}
#contact-header h2{
	margin-top: 15px;
	margin-bottom: 20px;
}
.form-control {
	border-radius: 0px;
	box-shadow: none;
	font-family: 'Source Code Pro', monospace;
	font-weight: lighter;
}

.form-control:focus {
	outline: none !important;
	box-shadow: none;
	border-width: 1px;

	border-color: #191917;
}
#submit-btn {
	border-radius: 0px;
	border-color: #191917;
	font-family: 'Source Code Pro', monospace;
	font-weight: lighter;
}
